.vs/

/glassfish-7.0.24

/BackEnd/OdontoSysModel/target/
/BackEnd/OdontoSysDBManager/target/
/BackEnd/OdontoSysPersistance/target/
/BackEnd/OdontoSysBussiness/target/
/BackEnd/OdontoSysWebApplication/target/
