/target/
/OdontoSysV2/OdontoSys/OdontoSysDBManager/target/
/OdontoSysV2/OdontoSys/OdontoSysModel/target/
/OdontoSysV2/OdontoSys/OdontoSysPersistance/target/

config.properties
.vs/
/OdontoSysFrontEnd/packages
/OdontoSysFrontEnd/config/applicationhost.config
/OdontoSysV2/OdontoSys/OdontoSysBussiness/target/
