<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CitasPortBinding" />
                <binding name="DetallesTratamientosPortBinding" />
                <binding name="EspecialidadesPortBinding" />
                <binding name="MetodosPagoPortBinding" />
                <binding name="TurnosXOdontologoPortBinding" />
                <binding name="RecepcionistasPortBinding" />
                <binding name="SalasPortBinding" />
                <binding name="TurnosPortBinding" />
                <binding name="PacientesPortBinding" />
                <binding name="OdontologosPortBinding" />
                <binding name="TratamientosPortBinding" />
                <binding name="ComprobantesPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/OdontoSysWA/Citas" binding="basicHttpBinding"
                bindingConfiguration="CitasPortBinding" contract="citaWS.Citas"
                name="CitasPort" />
            <endpoint address="http://localhost:8080/OdontoSysWA/DetallesTratamientos"
                binding="basicHttpBinding" bindingConfiguration="DetallesTratamientosPortBinding"
                contract="detallestratamientosWS.DetallesTratamientos" name="DetallesTratamientosPort" />
            <endpoint address="http://localhost:8080/OdontoSysWA/Especialidades"
                binding="basicHttpBinding" bindingConfiguration="EspecialidadesPortBinding"
                contract="especialidadWS.Especialidades" name="EspecialidadesPort" />
            <endpoint address="http://localhost:8080/OdontoSysWA/MetodosPago"
                binding="basicHttpBinding" bindingConfiguration="MetodosPagoPortBinding"
                contract="metodospagoWS.MetodosPago" name="MetodosPagoPort" />
            <endpoint address="http://localhost:8080/OdontoSysWA/TurnosXOdontologo"
                binding="basicHttpBinding" bindingConfiguration="TurnosXOdontologoPortBinding"
                contract="turnoxodontologoWS.TurnosXOdontologo" name="TurnosXOdontologoPort" />
            <endpoint address="http://localhost:8080/OdontoSysWA/Salas" binding="basicHttpBinding"
                bindingConfiguration="SalasPortBinding" contract="salaWS.Salas"
                name="SalasPort" />
            <endpoint address="http://localhost:8080/OdontoSysWA/Turnos"
                binding="basicHttpBinding" bindingConfiguration="TurnosPortBinding"
                contract="turnoWS.Turnos" name="TurnosPort" />
            <endpoint address="http://localhost:8080/OdontoSysWA/Pacientes"
                binding="basicHttpBinding" bindingConfiguration="PacientesPortBinding"
                contract="pacienteWS.Pacientes" name="PacientesPort" />
            <endpoint address="http://localhost:8080/OdontoSysWA/Odontologos"
                binding="basicHttpBinding" bindingConfiguration="OdontologosPortBinding"
                contract="odontologoWS.Odontologos" name="OdontologosPort" />
            <endpoint address="http://localhost:8080/OdontoSysWA/Tratamientos"
                binding="basicHttpBinding" bindingConfiguration="TratamientosPortBinding"
                contract="tratamientoWS.Tratamientos" name="TratamientosPort" />
            <endpoint address="http://localhost:8080/OdontoSysWA/Comprobantes"
                binding="basicHttpBinding" bindingConfiguration="ComprobantesPortBinding"
                contract="comprobanteWS.Comprobantes" name="ComprobantesPort" />
            <endpoint address="http://localhost:8080/OdontoSysWA/Recepcionistas"
                binding="basicHttpBinding" bindingConfiguration="RecepcionistasPortBinding"
                contract="recepcionistaWS.Recepcionistas" name="RecepcionistasPort" />
        </client>
    </system.serviceModel>
</configuration>