<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="CitasPortBinding" />
				<binding name="DetallesTratamientosPortBinding" />
				<binding name="EspecialidadesPortBinding" />
				<binding name="MetodosPagoPortBinding" />
				<binding name="TurnosXOdontologoPortBinding" />
				<binding name="RecepcionistasPortBinding" />
				<binding name="SalasPortBinding" />
				<binding name="TurnosPortBinding" />
				<binding name="PacientesPortBinding" />
				<binding name="OdontologosPortBinding" />
				<binding name="TratamientosPortBinding" />
				<binding name="ComprobantesPortBinding" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:8080/OdontoSysWA/Citas" binding="basicHttpBinding"
                bindingConfiguration="CitasPortBinding" contract="citaWS.Citas"
                name="CitasPort" />
			<endpoint address="http://localhost:8080/OdontoSysWA/DetallesTratamientos"
                binding="basicHttpBinding" bindingConfiguration="DetallesTratamientosPortBinding"
                contract="detallestratamientosWS.DetallesTratamientos" name="DetallesTratamientosPort" />
			<endpoint address="http://localhost:8080/OdontoSysWA/Especialidades"
                binding="basicHttpBinding" bindingConfiguration="EspecialidadesPortBinding"
                contract="especialidadWS.Especialidades" name="EspecialidadesPort" />
			<endpoint address="http://localhost:8080/OdontoSysWA/MetodosPago"
                binding="basicHttpBinding" bindingConfiguration="MetodosPagoPortBinding"
                contract="metodospagoWS.MetodosPago" name="MetodosPagoPort" />
			<endpoint address="http://localhost:8080/OdontoSysWA/TurnosXOdontologo"
                binding="basicHttpBinding" bindingConfiguration="TurnosXOdontologoPortBinding"
                contract="turnoxodontologoWS.TurnosXOdontologo" name="TurnosXOdontologoPort" />
			<endpoint address="http://localhost:8080/OdontoSysWA/Salas" binding="basicHttpBinding"
                bindingConfiguration="SalasPortBinding" contract="salaWS.Salas"
                name="SalasPort" />
			<endpoint address="http://localhost:8080/OdontoSysWA/Turnos"
                binding="basicHttpBinding" bindingConfiguration="TurnosPortBinding"
                contract="turnoWS.Turnos" name="TurnosPort" />
			<endpoint address="http://localhost:8080/OdontoSysWA/Pacientes"
                binding="basicHttpBinding" bindingConfiguration="PacientesPortBinding"
                contract="pacienteWS.Pacientes" name="PacientesPort" />
			<endpoint address="http://localhost:8080/OdontoSysWA/Odontologos"
                binding="basicHttpBinding" bindingConfiguration="OdontologosPortBinding"
                contract="odontologoWS.Odontologos" name="OdontologosPort" />
			<endpoint address="http://localhost:8080/OdontoSysWA/Tratamientos"
                binding="basicHttpBinding" bindingConfiguration="TratamientosPortBinding"
                contract="tratamientoWS.Tratamientos" name="TratamientosPort" />
			<endpoint address="http://localhost:8080/OdontoSysWA/Comprobantes"
                binding="basicHttpBinding" bindingConfiguration="ComprobantesPortBinding"
                contract="comprobanteWS.Comprobantes" name="ComprobantesPort" />
			<endpoint address="http://localhost:8080/OdontoSysWA/Recepcionistas"
                binding="basicHttpBinding" bindingConfiguration="RecepcionistasPortBinding"
                contract="recepcionistaWS.Recepcionistas" name="RecepcionistasPort" />
		</client>
	</system.serviceModel>
	<appSettings>
		<add key="vs:EnableBrowserLink" value="false" />
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" />
    <httpRuntime targetFramework="4.8.1" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>