<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" />
    <httpRuntime targetFramework="4.8.1" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EspecialidadWAPortBinding" />
        <binding name="ComprobanteWAPortBinding" />
        <binding name="SalaWAPortBinding" />
        <binding name="ValoracionWAPortBinding" />
        <binding name="TipoDocumentoWAPortBinding" />
        <binding name="DetalleTratamientoWAPortBinding" />
        <binding name="CitaWAPortBinding" />
        <binding name="TurnoWAPortBinding" />
        <binding name="RecepcionistaWAPortBinding" />
        <binding name="PacienteWAPortBinding" />
        <binding name="OdontologoWAPortBinding" />
        <binding name="TratamientoWAPortBinding" />
        <binding name="TurnoXOdontologoWAPortBinding" />
        <binding name="MetodoPagoWAPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/OdontoSysWebApplication-1.0-SNAPSHOT/TurnoWA"
        binding="basicHttpBinding" bindingConfiguration="TurnoWAPortBinding"
        contract="TurnoWS.TurnoWA" name="TurnoWAPort" />
      <endpoint address="http://localhost:8080/OdontoSysWebApplication-1.0-SNAPSHOT/CitaWA"
        binding="basicHttpBinding" bindingConfiguration="CitaWAPortBinding"
        contract="CitaWS.CitaWA" name="CitaWAPort" />
      <endpoint address="http://localhost:8080/OdontoSysWebApplication-1.0-SNAPSHOT/ComprobanteWA"
        binding="basicHttpBinding" bindingConfiguration="ComprobanteWAPortBinding"
        contract="ComprobanteWS.ComprobanteWA" name="ComprobanteWAPort" />
      <endpoint address="http://localhost:8080/OdontoSysWebApplication-1.0-SNAPSHOT/DetalleTratamientoWA"
        binding="basicHttpBinding" bindingConfiguration="DetalleTratamientoWAPortBinding"
        contract="DetalleTratamientoWS.DetalleTratamientoWA" name="DetalleTratamientoWAPort" />
      <endpoint address="http://localhost:8080/OdontoSysWebApplication-1.0-SNAPSHOT/EspecialidadWA"
        binding="basicHttpBinding" bindingConfiguration="EspecialidadWAPortBinding"
        contract="EspecialidadWS.EspecialidadWA" name="EspecialidadWAPort" />
      <endpoint address="http://localhost:8080/OdontoSysWebApplication-1.0-SNAPSHOT/MetodoPagoWA"
        binding="basicHttpBinding" bindingConfiguration="MetodoPagoWAPortBinding"
        contract="MetodoPagoWS.MetodoPagoWA" name="MetodoPagoWAPort" />
      <endpoint address="http://localhost:8080/OdontoSysWebApplication-1.0-SNAPSHOT/OdontologoWA"
        binding="basicHttpBinding" bindingConfiguration="OdontologoWAPortBinding"
        contract="OdontologoWS.OdontologoWA" name="OdontologoWAPort" />
      <endpoint address="http://localhost:8080/OdontoSysWebApplication-1.0-SNAPSHOT/PacienteWA"
        binding="basicHttpBinding" bindingConfiguration="PacienteWAPortBinding"
        contract="PacienteWS.PacienteWA" name="PacienteWAPort" />
      <endpoint address="http://localhost:8080/OdontoSysWebApplication-1.0-SNAPSHOT/RecepcionistaWA"
        binding="basicHttpBinding" bindingConfiguration="RecepcionistaWAPortBinding"
        contract="RecepcionistaWS.RecepcionistaWA" name="RecepcionistaWAPort" />
      <endpoint address="http://localhost:8080/OdontoSysWebApplication-1.0-SNAPSHOT/SalaWA"
        binding="basicHttpBinding" bindingConfiguration="SalaWAPortBinding"
        contract="SalaWS.SalaWA" name="SalaWAPort" />
      <endpoint address="http://localhost:8080/OdontoSysWebApplication-1.0-SNAPSHOT/TipoDocumentoWA"
        binding="basicHttpBinding" bindingConfiguration="TipoDocumentoWAPortBinding"
        contract="TipoDocumentoWS.TipoDocumentoWA" name="TipoDocumentoWAPort" />
      <endpoint address="http://localhost:8080/OdontoSysWebApplication-1.0-SNAPSHOT/TratamientoWA"
        binding="basicHttpBinding" bindingConfiguration="TratamientoWAPortBinding"
        contract="TratamientoWS.TratamientoWA" name="TratamientoWAPort" />
      <endpoint address="http://localhost:8080/OdontoSysWebApplication-1.0-SNAPSHOT/TurnoXOdontologoWA"
        binding="basicHttpBinding" bindingConfiguration="TurnoXOdontologoWAPortBinding"
        contract="TurnoXOdontologoWS.TurnoXOdontologoWA" name="TurnoXOdontologoWAPort" />
      <endpoint address="http://localhost:8080/OdontoSysWebApplication-1.0-SNAPSHOT/ValoracionWA"
        binding="basicHttpBinding" bindingConfiguration="ValoracionWAPortBinding"
        contract="ValoracionWS.ValoracionWA" name="ValoracionWAPort" />
    </client>
  </system.serviceModel>
</configuration>